# Intellij project files
*.iml
*.ipr
*.iws
.idea
local.properties

# gradle files
.gradle
build

# misc
tmp
/keys
/graphics/launchpad/
/graphics/market/
.DS_Store

# local distribution artifacts
/release-dist/

# SonarCloud
gradle.properties
